.carousel-inner{
height: 40%;
}
.d-block-w-100{   
        width: 30%; /* Reduce image size */
        height: auto;
        display: block;
        margin: 0 auto; /* Centers the image */
        border-radius: 10px; /* Optional: adds a border radius */
    }