#contactForm{
    background-image: url(../Img/ImagenProyecto4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    border-radius: 5%;
    top:25 ;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    justify-items: center;
    #contactTextTittle{
        color: rgb(255, 255, 255);
    }
    #nombreForm{
        width: 60%;
        height: 45%;
    }
    #numeroForm{
        width: 60%;
        height: 45%;
    }
    #correoForm{
        width: 60%;
        height: 45%;
    }
    #mensajeForm{
        width: 90%;
        height: 50%;
    }
    #contactFormText{
        font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
        font-size: 12px;
        color: rgb(255, 255, 255);
        
    }
}